<Configuration status="INFO">
	<Appenders>
    	<Console name="Console" target="SYSTEM_OUT">
    		<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    	</Console>
    	<File name="File" fileName="log">
    		<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    	</File>
    	<Async name="FileAsync">
			<AppenderRef ref="File"/>
		</Async>
    </Appenders>
    <Loggers>
    	<Root level="info">
    		<AppenderRef ref="Console"/>
    		<AppenderRef ref="FileAsync"/>
    	</Root>
    </Loggers>
</Configuration>